$black-main: #1D1D1B;
$beige-main: #F1F0EC;
$beige-text: #ADA597;
$grey-text: #92928A;
$black-earth: #303A32;
$beige-main-on-dark: #C3BCAF;
$grey: #92928A;
$grey-dark: #565956;
$grey-text-on-dark: #8B8E8A;
$white: #ffffff;
$grey-light: #FAF9F8;
$top-text: #A5A098;
$disabled: #E2E0DE;

$transition: all 0.3s ease 0s;
$transition05: all 0.5s ease 0s;
$transition08: all 0.8s ease 0s;