<div id="account-menu" class="account-menu popup-menu popup">
    <div class="popup-menu__body">
        <div class="popup-menu__content popup__content">
            <a href="#" class="popup-menu__close close-popup">
                <img src="img/close-btn.svg" alt="close">
            </a>
            <img class="popup-menu__logo" src="img/Logo-dark.svg" width="141" alt="Logo">

            <h2 class="account-menu__title">Sign in</h2>
            <form class="popup-menu__form form">
                <p class="form__text">Sign in to your account using your credentials. If you don’t have an account you
                    can also <a href="#" class="form__link">create a new account</a></p>
                <input type="email" aria-label="Email" name="email" placeholder="E-mail address">
                <input type="password" aria-label="Password" name="password" placeholder="Password">
                <p class="form__text--additional">Forgot your password? <a href="#" class="form__link">Click here to reset.</a></p>
                <button class="button button__link" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>

</div>
