
<div id="cart-sidebar" class="popup-sidebar">
    <div class="heading">
        <div class="title">Shopping bag</div>
        <button type="button" class="reset_button" id="close_cart_button">
            <span class="icon icon-close"></span>
        </button>
    </div><!-- end heading -->

    <div class="cart_items">

        <div class="item">
            <div class="image">
                <img class="img-responsive" src="img/product/emil/emil-1.webp" alt="Emil" title="Emil">
            </div><!-- end image -->
            <div class="info">
                <div class="line name">
                    EMIL
                </div><!-- end name -->
                <div class="line">
                    <div class="title">Shirt</div>
                    <div class="value">M</div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Pants</div>
                    <div class="value">S</div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Price</div>
                    <div class="value">€ 799,-   <span class="old_price">€ 999,-</span></div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Quantity</div>
                    <div class="value">2</div>
                </div><!-- end line -->
                <div class="line line-total">
                    <div class="total">€ 1598,-</div>
                    <button class="reset_button cart_remove">Remove</button>
                </div><!-- end line -->

            </div><!-- endinfo -->
        </div><!-- end item -->

        <div class="item">
            <div class="image">
                <img class="img-responsive" src="img/product/emil/emil-3.webp" alt="Emil" title="Emil">
            </div><!-- end image -->
            <div class="info">
                <div class="line name">
                    EMIL
                </div><!-- end name -->
                <div class="line">
                    <div class="title">Pants</div>
                    <div class="value">S</div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Price</div>
                    <div class="value">€ 799,-   <span class="old_price">€ 999,-</span></div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Quantity</div>
                    <div class="value">2</div>
                </div><!-- end line -->
                <div class="line line-total">
                    <div class="total">€ 699,-</div>
                    <button class="reset_button cart_remove">Remove</button>
                </div><!-- end line -->

            </div><!-- endinfo -->
        </div><!-- end item -->

        <div class="item">
            <div class="image">
                <img class="img-responsive" src="img/product/emil/emil-3.webp" alt="Emil" title="Emil">
            </div><!-- end image -->
            <div class="info">
                <div class="line name">
                    EMIL
                </div><!-- end name -->
                <div class="line">
                    <div class="title">Pants</div>
                    <div class="value">S</div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Price</div>
                    <div class="value">€ 799,-   <span class="old_price">€ 999,-</span></div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Quantity</div>
                    <div class="value">2</div>
                </div><!-- end line -->
                <div class="line line-total">
                    <div class="total">€ 699,-</div>
                    <button class="reset_button cart_remove">Remove</button>
                </div><!-- end line -->

            </div><!-- endinfo -->
        </div><!-- end item -->

        <div class="item">
            <div class="image">
                <img class="img-responsive" src="img/product/emil/emil-3.webp" alt="Emil" title="Emil">
            </div><!-- end image -->
            <div class="info">
                <div class="line name">
                    EMIL
                </div><!-- end name -->
                <div class="line">
                    <div class="title">Pants</div>
                    <div class="value">S</div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Price</div>
                    <div class="value">€ 799,-   <span class="old_price">€ 999,-</span></div>
                </div><!-- end line -->
                <div class="line">
                    <div class="title">Quantity</div>
                    <div class="value">2</div>
                </div><!-- end line -->
                <div class="line line-total">
                    <div class="total">€ 699,-</div>
                    <button class="reset_button cart_remove">Remove</button>
                </div><!-- end line -->

            </div><!-- endinfo -->
        </div><!-- end item -->

    </div><!-- end cart_items -->

    <div class="cart_totals_container">
        <div class="cart_totals_info">
            <div class="line">
                <div class="title">Items</div>
                <div class="value">€ 2297,-</div>
            </div><!-- end line -->
            <div class="line">
                <div class="title">Shipping to Belgium</div>
                <div class="value">€ 9,-</div>
            </div><!-- end line -->
            <div class="line total-discount">
                <div class="title">Total discount</div>
                <div class="value">€ 229,70</div>
            </div><!-- end line -->

        </div><!-- end cart_totals_info -->

        <div class="cart_total">
            <div class="left_col">
                <div class="title">Total</div>
                <div class="value">€ 2076,30</div>
            </div><!-- end left_col -->
            <button class="button black_button checkout_link">Check-out</button>

        </div><!-- end cart_total -->


    </div><!-- end cart_totals_container -->



</div><!-- end cart-sidebar -->
