<div id="location-sidebar" class="popup-sidebar">
    <div class="heading">
        <div class="title">Location</div>
        <button type="button" class="reset_button close_button close_sidebar">
            <span class="icon icon-close"></span>
        </button>
    </div><!-- end heading -->

    <div class="items_container">
        <div class="item">
            <div class="item_title">
                Language
            </div><!-- end item_title -->
            <div class="item_content">
                <div class="custom_select_location">
                    <select>
                        <option>English</option>
                        <option>Dutch </option>
                    </select>
                </div><!-- end custom_select -->
            </div><!-- end item_content -->
        </div><!-- end item -->

        <div class="item">
            <div class="item_title">
                Show prices in
            </div><!-- end item_title -->
            <div class="item_content">
                <div class="custom_select_location">
                    <select>
                        <option>Euro</option>
                        <option>Euro</option>
                    </select>
                </div><!-- end custom_select -->

            </div><!-- end item_content -->
        </div><!-- end item -->

        <div class="item">
            <div class="item_title">
                Shipping to
            </div><!-- end item_title -->
            <div class="item_content">
                    <div class="custom_select_location">
                        <select>
                            <option>Belgium</option>
                            <option>France</option>
                            <option>Germany</option>
                            <option>Italy</option>
                            <option>Luxembourg</option>
                            <option>The Netherlands</option>
                            <option>Rest of Europe</option>
                            <option>Outside of Europe</option>
                        </select>
                    </div><!-- end custom_select_location -->


            </div><!-- end item_content -->
        </div><!-- end item -->

    </div><!-- end items_container -->








</div><!-- end cart-sidebar -->
