<div id="pass-reset-sidebar" class="auth-sidebar popup-sidebar">
    <div class="heading">
        <img src="img/Logo-sidebar.svg" alt="logo" width="150" height="57">
        <button type="button" class="reset_button close_sidebar">
            <span class="icon icon-close"></span>
        </button>
    </div><!-- end heading -->

    <div class="content">
        <div class="title">PASSWORD RESET</div>
        <div class="desc">
            Type your email address, we will send you instructions on how to reset your password. <a href="#" class="link_signin">Or click here to log in.</a>
        </div><!-- end desc -->

        <form>
            <div class="form_block">
                <div class="title">Recovery email</div>
                <div class="form_block_content">
                    <div class="line">
                        <input class="reset_input" type="email" name="email" placeholder="E-mail address"/>
                    </div>
                </div><!-- end form_block_content -->
            </div><!-- end form_block -->

            <div class="line buttons_line">
                <button class="reset_button button__link">Reset Password</button>
            </div><!-- end line -->
        </form>
    </div><!-- end content -->



</div><!-- end cart-sidebar -->
