<div id="pass-reset-success" class="auth-sidebar popup-sidebar">

    <div class="heading">
        <img src="img/Logo-sidebar.svg" alt="logo" width="150" height="57">
        <button type="button" class="reset_button close_sidebar">
            <span class="icon icon-close"></span>
        </button>
    </div><!-- end heading -->

    <div class="content">
        <div class="title">Password reset<br>succesful</div>
        <a class="reset_button button__link signin_sidebar">Click to log in</a>
    </div><!-- end content -->

</div><!-- end cart-sidebar -->
