<div id="signup-sidebar" class="auth-sidebar popup-sidebar">
    <div class="heading">
        <img src="img/Logo-sidebar.svg" alt="logo" width="150" height="57">
        <button type="button" class="reset_button close_sidebar">
            <span class="icon icon-close"></span>
        </button>
    </div><!-- end heading -->

    <div class="content">
        <div class="title">Sign up</div>
        <div class="desc">
            Create a new account with your email address. Already have an account? <a href="#" class="link_signin">Sign in to your account</a>
        </div><!-- end desc -->
        <form>

            <div class="form_block">
                <div class="title">Your name</div>
                <div class="form_block_content">
                    <div class="line">
                        <input class="reset_input" type="text" name="firstname" placeholder="First name"/>
                    </div>
                    <div class="line">
                        <input class="reset_input" type="text" name="lastname" placeholder="Last name">
                    </div>
                </div><!-- end form_block_content -->
            </div><!-- end form_block -->


            <div class="form_block">
                <div class="title">Your account</div>
                <div class="form_block_content">
                    <div class="line">
                        <input class="reset_input" type="email" name="email" placeholder="E-mail address">
                    </div><!-- end line -->
                    <div class="line">
                        <input class="reset_input" type="password" name="password" placeholder="Password">
                    </div><!-- end line -->
                    <div class="line">
                        <input class="reset_input" type="password" name="confirmpassword" placeholder="Confirm Password">
                    </div><!-- end line -->
                </div><!-- end form_block_content -->
            </div><!-- end form_blockform_block -->

            <div class="line buttons_line">
                <button class="reset_button button__link">Create an account</button>
            </div><!-- end line -->

        </form>
    </div><!-- end content -->



</div><!-- end cart-sidebar -->
