<div id="signin-sidebar" class="auth-sidebar popup-sidebar">
    <div class="heading">
        <img src="img/Logo-sidebar.svg" alt="logo" width="150" height="57">
        <button type="button" class="reset_button close_sidebar">
            <span class="icon icon-close"></span>
        </button>
    </div><!-- end heading -->

    <div class="content">
        <div class="title">Sign in</div>
        <div class="desc">
            Sign in to your account using your credentials. If you don’t have an account you can also <a href="#" id="link_signup">create a new account</a>
        </div><!-- end desc -->
        <form>
            <div class="line">
                <input class="reset_input" type="email" name="email" placeholder="E-mail address">
            </div><!-- end line -->
            <div class="line">
                <input class="reset_input" type="password" name="password" placeholder="Password">
            </div><!-- end line -->
            <div class="line text_line">
                Forgot your password? <a href="#" id="link_reset_password">Click here to reset.</a>
            </div><!-- end line -->
            <div class="line buttons_line">
                <button class="reset_button button__link">Sign in</button>
            </div><!-- end line -->

        </form>
    </div><!-- end content -->



</div><!-- end cart-sidebar -->
