<div id="sizes-sidebar" class="popup-sidebar">
    <div class="heading">
        <div class="title">Size guide</div>
        <button type="button" class="reset_button close_button close_sidebar">
            <span class="icon icon-close"></span>
        </button>
    </div><!-- end heading -->


    <div class="desc">
        Choosing the right size is difficult. The measurements below is a best practice from customers that have purchased in the past.
    </div><!-- end desc -->

    <div class="tables_container">
        <div class="item">
            <div class="item_title">
                CONVERSION CHART
            </div><!-- end item_title -->
            <div class="item_content">
                <table>
                    <tr>
                        <td></td>
                        <td>XS</td>
                        <td>S</td>
                        <td>M</td>
                        <td>L</td>
                    </tr>
                    <tr>
                        <td>EU</td>
                        <td>34</td>
                        <td>36</td>
                        <td>38</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>UK</td>
                        <td>6</td>
                        <td>8</td>
                        <td>10</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>US</td>
                        <td>2</td>
                        <td>4</td>
                        <td>6</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>FR</td>
                        <td>36</td>
                        <td>38</td>
                        <td>40</td>
                        <td>42</td>
                    </tr>
                </table>

            </div><!-- end item_content -->
        </div><!-- end item -->

        <div class="item">
            <div class="item_title">
                MEASUREMENTS
            </div><!-- end item_title -->
            <div class="item_content">
                <table>
                    <tr>
                        <td></td>
                        <td>XS</td>
                        <td>S</td>
                        <td>M</td>
                        <td>L</td>
                    </tr>
                    <tr>
                        <td>Bust (cm)</td>
                        <td>76-83</td>
                        <td>83-90</td>
                        <td>90-97</td>
                        <td>97-104</td>
                    </tr>
                    <tr>
                        <td>Waist (cm)</td>
                        <td>60-67</td>
                        <td>67-74</td>
                        <td>74-81</td>
                        <td>81-88</td>
                    </tr>
                    <tr>
                        <td>Hip (cm)</td>
                        <td>84-91</td>
                        <td>91-98</td>
                        <td>98-105</td>
                        <td>105-112</td>
                    </tr>
                    <tr>
                        <td>Bust (cm)</td>
                        <td>30-33</td>
                        <td>33-36</td>
                        <td>36-38</td>
                        <td>38-41</td>
                    </tr>
                    <tr>
                        <td>Waist (cm)</td>
                        <td>24-26</td>
                        <td>26-29</td>
                        <td>29-32</td>
                        <td>32-35</td>
                    </tr>
                    <tr>
                        <td>Hip (cm)</td>
                        <td>33-36</td>
                        <td>36-39</td>
                        <td>39-41</td>
                        <td>41-44</td>
                    </tr>
                </table>

            </div><!-- end item_content -->
        </div><!-- end item -->

        <div class="item item-text">
            <div class="item_title">
                Measuring instructions
            </div><!-- end item_title -->
            <div class="item_content">
                <div class="text">
                    <p><strong>Bust:</strong> Measure under the arms, in the bulky part of the chest.</p>
                    <p><strong>Waist:</strong> Measure around the natural waist line, keeping the tape measure slightly loose.</p>
                    <p><strong>Low hip:</strong> Measure at the top of the legs, at the widest part of the body.</p>
                </div><!-- end text -->
            </div><!-- end item_content -->
        </div><!-- end item -->

    </div><!-- end tables_container -->





</div><!-- end cart-sidebar -->
